/gemma4-E2B-int8.bin
/gemma4-E2B-int4.bin
/gemma4-E2B-int8-audio.bin
/run
/run_asan
/run.exe
/run_profile
/test_neon_matmul
/test_kernels_pure
/test_int4_pure
/test_int4_neon
/.venv
/__pycache__/
/.cache/
/test_int4_avx
